*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#AFE4DE;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/*header*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li a:hover{
    color: white;
}

/*gallery*/
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.wrapper{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin-left: 10%;
}

h1{
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 55px;
    letter-spacing: 3px;
    color: black;
    overflow: hidden;
    text-align: center;
    border-right: .10em solid black;
    white-space: nowrap;
    margin: 5% auto;
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end
}

.cont{
    padding: 10%;
}

.cont h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cont p{
    line-height: 1.5;
}

.main-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-right: 20%;
}

.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;
}

.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.main-content .box:hover{
    top: 0;
    right: calc(100%-5px);
    z-index: 8;
}

.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content .box .img-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;
    font-family: 'Lobster Two', cursive;
}

.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

/* typewriter animation*/
.typewriter h1{
    color: black;
    overflow: hidden;
    text-align: center;
    /*typewriter*/
    border-right: .10em solid black;
    white-space: nowrap;
    margin: 10% auto;
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(10, step-end),
    blink-caret .5s step-end
}

/*common to both headings*/
@keyframes typing{
    from {width:0}
    to {width: 50%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { caret-color: transparent; }
  }

/*css flip card*/
.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col{
    flex-basis: 32%;
    overflow: hidden;
    margin-bottom: 5%;
}

.card{
    width: 350px;
    height: 350px;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 12px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.card-front{
    background-position: center;
    background-size: cover;
}

.front-1{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./planner.jpg);
}

.front-2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./designer.jpg);
}

.front-3{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./photographer.jpg);
}
h3{
    display: inline-block;
    width: 100px;
    padding: 14px 0;
    margin-top: 160px;
    border-radius: 4px;
    background: white;
    transition: transform 1s;
}

.card-back{
    background: #1c1f54;
    transform: rotateX(180deg);
}

/*rotation of the card*/
.card:hover .inner-box{
    transform: rotateX(180deg);
}

.card:hover h3{
    transform: translateY(140px);
}

 .card-back p{
    display: inline-block;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-top: 140px;
}

/*contact form*/
.contact{
    min-height: 100vh;
    background: #76d6cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
}

.contact form h2{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.contact form input::placeholder{
    color: #fff;
}

.contact form #lastName,
.contact form #mobile{
    margin-left: 30px;
}

.contact form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 50px;
    max-height: 50px;
}

.contact form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.contact form #button:hover{
    opacity: 0.7;
}

/*footer*/
footer .contain{
    background-color: #AFE4DE;
    margin-top: 10%;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer-col img{
    width: 40%;
    margin-bottom: 5%;
}
.footer-col ul{
    list-style: none;
}

.footer-col h4{
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
}

.footer-col ul li{
    padding: 10px 0;
}

.footer-col ul li a{
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    color: black;
}

.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: darkgray;
    color: white;
    border: none;
}

.footer-col .inputSubmit:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px){
    footer .footer-row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .footer-col input{
        width: 100%;
    }
}

@media(max-width: 600px){
    h1{
        font-size: 20px;
    }
    .row{
        flex-direction: column;
    }

    .header{
        flex-direction: column;
    }

    .contact{
        min-width: 450px;
        min-height: 320px;
    }

    .contact form{
        min-width: 400px;
        min-height: 320px;
        margin-left: 20%;
        margin-right: 0;
        flex-direction: column;
    }

    .contact form #button{
        position: absolute;
        margin-right: 50%;
        margin-top: 100%;
    }
}
